{{>partials/header}}


<h1>Framework MVC no Node</h1>

<p>Esta é a página Inicial.</p>

<p>Seja Bem vindo, {{ user.myName }}</p>

<h2>Banco de dados MySql</h2>
<ul>
    {{#list}}
        <li>{{ id }} - {{ name }} - {{ age }} anos</li>
    {{/list}}
</ul>


{{>partials/footer}}